<style>
container{
border: 0px solid black;
width: 40%;
height: 250px;
border-radius: 20px;
background-color: #FFEE58;
text-align: center;
margin-left: 30%;
margin-top: 15%;
margin-right: 35%;
}
container h1{
background-color: #4DB6AC;


color: #BF360C;
font-weight: normal;
margin-top: 0px;
padding: 15px 5px;
text-align: center;
}
/* file */
#file{
border: 2px solid #000000;
border-radius: 12px;
color: #000000;
background-color: #C62828;
padding: 10px 5px;
}
body{
background-color: #607D8B;
  background-image : https://cdn.rawgit.com/gitvir/myproject.github.io/94406fa0/imsge.jpeg;
}
</style>
</style>
